/* CSS for Code API Look Up tool */
body {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	font-family: mypr;
	-webkit-font-family: helneu;	
	-webkit-font-smoothing: subpixel-antialiased;
	color: #ccc;
	height: 60rem;
	width: 90rem;
	box-sizing: border-box;
	background: rgb(245,245,245); /* Old browsers */
	background-size: 100% 100%;
	-moz-background-image-postion: center bottom;
	background-image-postion: center bottom;
	border: none;
	margin: none;
}

@font-face {                                                      
		font-family: myrpr;
		src: url('../myriadpro-regular.otf'),
		url('myriadpro-regular.eot') format("opentype"); 
}

@-webkit-font-face {                                                      
		font-family: helneu;
		src: url('HelveticaNeueLTCom-Md.ttf');
		-webkit-font-smoothing: subpixel-antialiased;
}

#txt {
	position: fixed;
	z-index: 30;
	margin-left: 23.3rem;
	margin-top: .8rem;
	width: 6.7rem;
	height: 1.7rem;
	padding-left: .1rem;
	padding-right: .3rem;
	padding-top: 0rem;
	padding-bottom: .3rem;
	font-size: 110%;
	font-weight: 700;
	line-height: 150%;
	text-align: center;
	-webkit-text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 3px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
	background:gradient(top, hsla(50,100%,99%, .5) 0%, hsla(55,100%,95%, .8) 50%, hsla(50,100%,99%, .5) 100%, transparent);
	background:-moz-linear-gradient(top, hsla(50,100%,99%, .5) 0%, hsla(55,100%,95%, .8) 50%, hsla(50,100%,99%, .5) 100%, transparent);
	background:-webkit-linear-gradient(top, hsla(50,100%,99%, .5) 0%, hsla(55,100%,95%, .8) 50%, hsla(50,100%,99%, .5) 100%, transparent);
	background:-0-linear-gradient(top, hsla(50,100%,99%, .5) 0%, hsla(55,100%,95%, .8) 50%, hsla(50,100%,99%, .5) 100%, transparent);
	background:gradient(to bottom, hsla(50,100%,99%, .5) 0%, hsla(55,100%,95%, .8) 50%, hsla(50,100%,99%, .5) 100%, transparent);
	border: 3px solid rgba(190, 196, 225, 1);
	border-radius: .3rem;
	color: #00d;
	cursor: pointer;
}

#txt:hover {
	position: fixed;
	z-index: 30;
	margin-left: 23.3rem;
	margin-top: .8rem;
	width: 6.7rem;
	height: 1.7rem;
	padding-left: .1rem;
	padding-right: .3rem;
	padding-top: 0rem;
	padding-bottom: .3rem;
	font-size: 110%;
	font-weight: 700;
	line-height: 150%;
	text-align: center;
	-webkit-text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 3px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
	background: rgb(201,238,252); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5ZWVmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iI2ViZjNmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2UzZjVmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2M5ZWVmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMGVhZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(201,238,252,1) 0%, rgba(235,243,244,1) 39%, rgba(227,245,247,1) 57%, rgba(201,238,252,1) 75%, rgba(192,234,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,238,252,1)), color-stop(39%,rgba(235,243,244,1)), color-stop(57%,rgba(227,245,247,1)), color-stop(75%,rgba(201,238,252,1)), color-stop(100%,rgba(192,234,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(201,238,252,1) 0%,rgba(235,243,244,1) 39%,rgba(227,245,247,1) 57%,rgba(201,238,252,1) 75%,rgba(192,234,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(201,238,252,1) 0%,rgba(235,243,244,1) 39%,rgba(227,245,247,1) 57%,rgba(201,238,252,1) 75%,rgba(192,234,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(201,238,252,1) 0%,rgba(235,243,244,1) 39%,rgba(227,245,247,1) 57%,rgba(201,238,252,1) 75%,rgba(192,234,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(201,238,252,1) 0%,rgba(235,243,244,1) 39%,rgba(227,245,247,1) 57%,rgba(201,238,252,1) 75%,rgba(192,234,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9eefc', endColorstr='#c0eaf9',GradientType=0 ); /* IE6-8 */
	border: 3px solid rgba(190, 196, 225, 1);
	border-radius: .3rem;
	color: #090;
	cursor: pointer;
}

.testcode {
	margin-top: 8rem;
	position: fixed;
}

textarea  {
	position: fixed;
	background:gradient(top, hsla(55,100%,95%, .8) 0%, hsla(50,100%,99%, .5) 50%, hsla(55,100%,95%, .8) 100%, transparent);
	background:-moz-linear-gradient(top, hsla(55,100%,95%, .8) 0%, hsla(50,100%,99%, .5) 50%, hsla(55,100%,95%, .8) 100%, transparent);
	background:-webkit-linear-gradient(top, hsla(55,100%,95%, .8) 0%, hsla(50,100%,99%, .5) 50%, hsla(55,100%,95%, .8) 100%, transparent);
	background:-0-linear-gradient(top, hsla(55,100%,95%, .8) 0%, hsla(50,100%,99%, .5) 50%, hsla(55,100%,95%, .8) 100%, transparent);
	background:gradient(to bottom, hsla(55,100%,95%, .8) 0%, hsla(50,100%,99%, .5) 50%, hsla(55,100%,95%, .8) 100%, transparent);
	border: 3px solid rgba(190, 196, 225, 1);
	padding-top: 1rem;
	padding-left: 1rem;
	border-radius: .5rem;
	box-shadow: inset 0 0 4px rgba(0, 0, 0, .6);
	margin-top: 22rem;
	margin-left: 2rem;
	text-align: left;
		
}

#sel {
	position: fixed;
	margin-top: 20rem;
	font-size: 1.2em;
	margin-left: 3.2rem;
	white-space: nowrap;
}

#charCount span {
	display: inline block;
	white-space: nowrap;
	position: absolute;
	color:#800;
	margin-left: 2rem;
	margin-top: 35rem;
}

.lnk a {
	display:block;
	white-space: nowrap;
	width:6rem;
	font-size: 120%;
	line-height: 150%;
	padding:.6rem;
	padding-bottom: .8rem;
	background: rgb(238,238,238); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
	border:1px solid #ccc;
	text-align:center;
	border-radius: .3rem;
	box-shadow: inset 0 0 4px rgba(0, 0, 0, .6);
}

.lnk a:hover, .lnk a:focus {
	background: rgb(235,243,244); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZjNmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2UzZjVmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iI2M5ZWVmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWVlZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(235,243,244,1) 0%, rgba(227,245,247,1) 44%, rgba(201,238,252,1) 83%, rgba(201,238,252,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,243,244,1)), color-stop(44%,rgba(227,245,247,1)), color-stop(83%,rgba(201,238,252,1)), color-stop(100%,rgba(201,238,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(235,243,244,1) 0%,rgba(227,245,247,1) 44%,rgba(201,238,252,1) 83%,rgba(201,238,252,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(235,243,244,1) 0%,rgba(227,245,247,1) 44%,rgba(201,238,252,1) 83%,rgba(201,238,252,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(235,243,244,1) 0%,rgba(227,245,247,1) 44%,rgba(201,238,252,1) 83%,rgba(201,238,252,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(235,243,244,1) 0%,rgba(227,245,247,1) 44%,rgba(201,238,252,1) 83%,rgba(201,238,252,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf3f4', endColorstr='#c9eefc',GradientType=0 ); /* IE6-8 */
	color: #b00;
	line-height: 150%;
	padding:.6rem;
	padding-bottom: .8rem;
	border-radius: .3rem;
}

.lnk a:active {
	background: rgb(201,238,252); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5ZWVmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iI2ViZjNmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2UzZjVmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2M5ZWVmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMGVhZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(201,238,252,1) 0%, rgba(235,243,244,1) 39%, rgba(227,245,247,1) 57%, rgba(201,238,252,1) 75%, rgba(192,234,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,238,252,1)), color-stop(39%,rgba(235,243,244,1)), color-stop(57%,rgba(227,245,247,1)), color-stop(75%,rgba(201,238,252,1)), color-stop(100%,rgba(192,234,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(201,238,252,1) 0%,rgba(235,243,244,1) 39%,rgba(227,245,247,1) 57%,rgba(201,238,252,1) 75%,rgba(192,234,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(201,238,252,1) 0%,rgba(235,243,244,1) 39%,rgba(227,245,247,1) 57%,rgba(201,238,252,1) 75%,rgba(192,234,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(201,238,252,1) 0%,rgba(235,243,244,1) 39%,rgba(227,245,247,1) 57%,rgba(201,238,252,1) 75%,rgba(192,234,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(201,238,252,1) 0%,rgba(235,243,244,1) 39%,rgba(227,245,247,1) 57%,rgba(201,238,252,1) 75%,rgba(192,234,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9eefc', endColorstr='#c0eaf9',GradientType=0 ); /* IE6-8 */
	box-shadow: inset 0 0 4px rgba(0, 0, 0, .9);
	line-height: 150%;
	padding:.6rem;
	padding-bottom: .8rem;
	border-radius: .3rem;
}

.title{
	position: fixed;
	margin-top: 0rem;
	margin-left: 2rem;
	-webkit-text-shadow: #333 3px 3px 5px;
	text-shadow: 3px 3px 5px #333;
}

/* button grid container */
table {	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: fixed;
	width: 32rem;
	margin-top: 4rem;
	margin-left: 2rem;
	border: none;
}


tr {
	width:32rem;
	max-width:32rem;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
	list-style:none; /* So we can make grids out of lists. */
	overflow:hidden; /* Clear the floats */
	border: none;
}

tr .row1.td {
	position: fixed;
}

/* this styles all the buttons cells in the table. The table will be replaced with a media query based flexible grid some day soon */
div[class^="grid-"] {
	width:8rem; 
	border: none;
}



/* this styles all the code language buttons */
.buttons {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin-top: 2rem;
	width: 6rem;
	display: inline block;
}
/* below is the code for the directions tool tip */
.lastresort {
	position: fixed;
	color: #fff;
	margin-left: 2rem;
	margin-top: 9rem;
}

span[data-tooltip], .tooltip {
	position: fixed;
	color: #fff;
	font-size: 1.2em;
	margin-left: 2rem;
	margin-top: 9rem;
	text-decoration: none;
	cursor: pointer;
	z-index: 1;
}

span[data-tooltip]::after, .tooltip span {
	content: attr(data-tooltip);
	display: none;
	opacity: 0;
	position: relative;
	border-bottom: none;
	left: 0rem;
	margin-right: 2rem;
	padding: 1rem;
	text-align: left;
	margin-top: 1rem;
	background: url(../images/dark_wood.png);
	cursor: pointer;
	background-size: 256px 256px;
	
	color: #eee;
	z-index: 1;
	border-radius: .5rem;
}

span[data-tooltip]:hover::after, .tooltip:hover span {
	opacity: .8;
	background: url(../images/dark_wood.png);
	cursor: pointer;
	background-size: 256px 256px;
	line-height: 160%;
	padding-bottom: 1.5rem;
	border-bottom: none;
	z-index: 20;
	display: block;
	border-radius: .5rem;
}

strong {
	line-height: 200%;
}

/* this section is for the character counter in the textarea 
form .counter {
	position: fixed;
	margin-top: 41rem;
	margin-left: 2rem;
	color: #00b;
}*/

/*.area51 {
	position: absolute;
	margin-left: 150rem;
	margin-top: -60rem;
} */

	
form .exceeded {
	color:#e00;
}

/* the button that returns the default text to the textarea */
.clearcode {
	position: fixed;
	margin-left: 12rem;
	margin-top: 36rem;
}

.geek_humor {
	color: #fff;
	font-size: 1.2em;
	font-weight: 600;
	opacity: .5;
	position: fixed;
	bottom: 3%;
	left: 72%;
}

.social {
	position: fixed;
	left: 90%;
	top: 45.2rem;
	opacity: .7;
}
